body {
    background: url('../../Recursos/Imagenes/fotoHeroSection.png');
    background-size: cover;
    background-position: center;
}

.alerta-warning {
    display: none;
    align-items: center;

    width: fit-content;   
    min-width: 350px;    

    margin: 0 auto;       

    background-color: #fff3cd;
    color: #664d03;
    border: 1px solid #ffecb5;
    border-radius: 6px;

    padding: 12px 30px;   
}

.alerta-warning.activa {
    display: flex;              
    margin-bottom: 15px;        
}

.alerta-icono {
    width: 1em;
    height: 1em;
    fill: #664d03;
    flex-shrink: 0;
}