
main{
    width: 100vw;
    height: 90vh;
    display: flex;
    position: relative;
}

.imagenHero{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.centrarHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

main h1{
    color: white;
    font-size: 5rem;
}

main h2{
    color: white;
    font-size: 3rem;
}

.centrarBotonesHero{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 5vh;
}
.botonesHero{
    width: 15vw;
    height: 7vh;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Bahnschrift";
    transition: 0.3s;
}

.botonesHero a{
    text-decoration: none;
}

.botonInscribeteHero{
    background-color: purple;
    border: 2px solid white;
}

.botonInscribeteHero:hover{
    background-color: #f9a146;
    border: 2px solid purple;
}

.botonInscribeteHero a{
    color: white;
}

.botonEventoHero{
    
    background-color: white;
    border: 2px solid purple;
}

.botonEventoHero{
    color: purple;
}

.botonEventoHero:hover{
    background-color: #f9a146;
}
.botonEventoHero a{
    color: purple;
}

.botonEventoHero:hover a{
    color: white;
}

.sectionCalendario{
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imagenFondoCalendario{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.calendario{
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sectionJuegos{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
}

.fondoBalatro{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.juegosContenido{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 70%;
    display: flex;
    align-items: center;
    background-color: #1a357e93;
    border: 3px solid white;
    border-radius: 20px;
}

.sectionJuego{
    height: 100%;
    width: 40%;
    display: flex;border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    backdrop-filter: blur(5px);
}

.tituloJuego{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.fotoPremios{
    width: 70%;
    border-radius: 50%;
    object-fit: cover;
    border: 9px solid gold;
    box-shadow:0 0 30px yellow;
}


.sectionJuegosPremios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    gap: 5%;
    text-align: justify;
    background-color: #1a347e;
    border-radius: 0px 20px 20px 0px;
}

.premiosTexto{
    color: white;
    margin-inline: 5%;
    display: flex;
    flex-direction: column;
}

.premioOro{
    color: gold;
    text-shadow: 
    0px 0px 2px,
    0px 0px 3px;
}


.premioPlata{
    color: silver;
    text-shadow: 
    0px 0px 1px,
    0px 0px 2px;
}

.premioBronce{
    color: #cd7f32;
    text-shadow: 
    0px 0px 1px,
    0px 0px 2px;
}



@media (max-width: 1024px) {
    main h1{
        font-size: 2.5rem;
    }

    main h2{
        font-size: clamp(1rem, 1.5rem, 2rem);
    }
    .botonesHero{
        width: 30vw;
        height: 7vh;
        border-radius: 16px;
        font-size: 1rem;
    }
    .sectionCalendario{
        height: 50vh;
        margin-top:5vh;
    }

    .sectionJuegos{
        height: 50vh;
        margin-top: 5vh;
    }
    .tituloJuego{
        font-size: 1rem;
    }
    .fotoPremios{
        width: 70%;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid gold;
        box-shadow:0 0 30px yellow;
    }

    .premiosTexto h2{
        font-size: 0.8rem;
    }

    .premiosTexto p{
        font-size: 0.5rem;
    }

    .juegosContenido{
    height: 70%;
    width: 90%;
}
}

