footer{
    height: 25vh;
    width: 100vw;
    background-color: white;
    border-top: 1px solid #8066e3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.imagenFooter{
    width: 20%;
}

.divRedes{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}


.enlacesFooter{
    display: flex;
    height: 8vh;
    width: 8vh;
}

.logosFooter{
    height: 8vh;
    width: 8vh;
}

.textoFooter{
    width: 30%;
    display: flex;
    flex-direction: column;
    color: black;
}

.textoFooter h3{
    font-size: 2rem;
}

.textoFooter p{
    font-size: 1.2rem;
    text-align: justify;
}

@media (max-width: 1024px){
    footer{
    height: 15vh;
    gap: 2%;
    }
    .textoFooter h3{
       font-size: 0.7rem;
    }
    .textoFooter p{
       font-size: 0.5rem;
    }
    
    .enlacesFooter img{
        width: 100%;
        aspect-ratio: 1/1;
    }

    .divRedes{
        gap: 5%;
    }

    .enlacesFooter{
        width: 3vw;
    }
}