

@font-face {
    font-family: 'Bahnschrift';
    src: url('../Fuentes/BAHNSCHRIFT\ 10.TTF') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    src: url('../Fuentes/Kanit-SemiBold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit, 'Courier New', Courier, monospace;
    
}

header{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.sectionLogoHeader{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoHeader{
    width: 100%;
}

.headerEnlaces{
    height: 10vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}

.enlacesHeader{
    color: black;
    text-decoration: none;
}

.enlacesHeader:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

.headerBotones{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botonInicioDeSesion{
    background-color: purple;
    color: white;
}

.botonRegistro{
    
    background-color: white;
    color: purple;
}

.botonesRegistro{
    border: 2px solid black;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    font-size: medium;
}